---
---

@font-face {
    src: url('../assets/fonts/RoslindaleText-Regular.eot'); /* IE < 9 */
    src: url('../assets/fonts/RoslindaleText-Regular.eot?#') format("embedded-opentype"), /* IE 9 */
         url('../assets/fonts/RoslindaleText-Regular.woff2') format("woff2"),
         url('../assets/fonts/RoslindaleText-Regular.woff') format("woff");
    font-family: 'RoslindaleText';
    font-style: normal;
    font-weight: normal;
}

@font-face {
    src: url('../assets/fonts/RoslindaleText-Italic.eot'); /* IE < 9 */
    src: url('../assets/fonts/RoslindaleText-Italic.eot?#') format("embedded-opentype"), /* IE 9 */
         url('../assets/fonts/RoslindaleText-Italic.woff2') format("woff2"),
         url('../assets/fonts/RoslindaleText-Italic.woff') format("woff");
    font-family: 'RoslindaleText';
    font-style: italic;
    font-weight: normal;
}

.dark {
  background-color: #162129;
  color: white;
}

.dark a:link {
  color: white;
}

.dark a:visited {
   color: white;
}

body {
  font-family: "RoslindaleText-Regular", "Times New Roman";
  font-size: 13px;
  background-color: white;
  line-height: 1.3em;
}

.moon {
  text-align: center;
  font-family: "Cousine";
  font-size: 11px;
  line-height: 1.1em;
  display: block;


}



a:hover {
  text-decoration: none;
}




.about a {
  text-decoration: none;
}

.about p {
  clear: both;
}

p.contact {
  text-align:
}


.clock {
  font-family: "Cousine";
  font-size: 10px;
  line-height: 3em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .moon {
    float: center;
    display: block;

  }


  .about {
    width: 28%;
    display: block;

  }

}




@media only screen and (max-width: 767px) {

  .nav {
    padding-left: 1%;
    padding-top: 5%;
    width: 100%;

  }

  .nav a {
    font-family: "Cousine";
    font-size: 11px;
    text-decoration: none;
    text-align: center;
    padding-right: 3px;
    padding-left: 3px;
  }


  .moon {
    margin-top: 11%;

  }

  .clock {
    margin-top: 5%;
    bottom: unset;
    text-align: center;
  }

  .about {
    width: 85%;
    font-size: 16px;
    margin-top: 5%;
    padding-left: 7%;
    padding-right: 5%;
    display: block;
  }

.contact {
  text-align: center;
}
body {
  font-size: 13px;
  line-height: 1.5em;
}
}
